.accordion {
  margin-bottom: 5rem;

  .card {
    border-radius: 1rem;
    border: none;
  }

  .card-header {
    border-bottom: 1px solid $primary;
    background: $white;

    .btn-link {
      text-decoration: none;
      font-size: $primary-font-size;
      color: $primary;
    }
  }

  .card-body {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $light;

    p,
    img {
      width: 90%;
    }

    .accordion__social {
      margin: 1.5rem 0 0.5rem 0;
      width: 8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        color: $dark;
      }

      i {
        font-size: $tabs-icon-size;
      }
    }
  }
}
