// Custom Override Colours
$primary: #e92569;
$secondary: #767676;
$light: #efefef;
$dark: #0a0a0a;

// Media Queries - breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

// Box Shadow
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
