.nav-tabs .nav-link {
  width: 7rem;
  font-size: $primary-font-size;
  border: 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  text-align: center;
}

.nav-tabs .nav-link.active {
  color: $secondary;
}

.tab__container {
  height: 18rem;
  display: flex;
  flex-direction: row;
  background: $white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.tab__img {
  padding: 2rem;

  img {
    background-size: cover;
    width: 15rem;
  }
}

.tab__text--container {
  margin-top: 2rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab__social--container {
  height: 3rem;
  width: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    margin-top: 1rem;
    color: $dark;
  }

  i {
    font-size: $tabs-icon-size;
  }
}
